.footer {
  @include boxShadow;
  @include flex-justify-center;
  align-items: center;
  min-height: 7%;
  padding: 10px;
  .social-media {
    @include flex-justify-center;
    font-size: 23px;
    gap: 25px;
  }
}
.footer--light {
  background-color: white;
  a {
    color: $primary;
  }
}
.footer--dark {
  background-color: $primary;
  a {
    color: white;
  }
}
