@media screen and (max-width: 1200px) {
  .menu {
    .menu__list {
      justify-content: center;
    }
  }
  .about {
    .about__top {
      height: 30%;
    }
    h1 {
      font-size: 44px;
    }
  }
  .container--absolute {
    min-width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .success-wrapper {
    .success {
      width: 100%;
    }
  }
  .container--absolute {
    min-width: 80%;
  }

}
@media screen and (max-width: 600px) {
  .nav {
    h2 {
      display: none;
    }
  }
  .contact {
    .contact__right {
      flex: 80%;
    }
    .contact__left {
      flex: 20%;
    }
  }
  .about {
    .about__top {
      height: 40%;
    }
    .about__bottom {
      padding: 20px 10px;
    }
    .about__bottom p {
      letter-spacing: 2px;
      text-align: justify;
    }
    h1 {
      font-size: 33px;
    }
  }
  .cart {
    min-width: 100%;
    .cart__item-header {
      flex-wrap: wrap; 
      gap: 10px;
    }
  }
  .client-form {
    .client-form--right {
      flex: 10% !important;
    }
  }
  .nav__link {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .container--absolute {
    min-width: 100%;
  }
  .menu__title p {
    text-align: justify;
  }
  .contact {
    gap: 14px;
    .contact__right {
      flex: 90%;
    }
    .contact__left {
      flex: 10%;
    }
  }
  .contact form input {
    width: 98%;
  }
  .client-form--right {
    display: none;
  }
}

