nav {
  @include boxShadow;
  background-color: white;
  padding: 2px 4px;
  min-height: 50px;
  img{
    z-index: 777;
  }
  h2 {
    text-transform: uppercase;
  }
  .nav-container {
    @include flex-justify-between;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    padding: 0 10px;
  }
  .nav__right {
    @include flex-justify-between;
    gap: 20px;
    align-items: center;
    color: $primary;
    position: relative;
  }
}

.nav__icon{
  padding: 0 5px;
}

.nav__link,
  .phone-info{
    padding: 20px;
  }